# Don't use WORKSPACE
common --enable_workspace=false

# Use language version 17.  NOTE: codebase has issues with 21.
build --java_language_version=17

# Use a downloaded java runtime
build --java_runtime_version=remotejdk_17

# C++17 for protobuf compatibility
build --host_cxxopt=-std=c++17 --cxxopt=-std=c++17

# Don't leak PATH and LD_LIBRARY_PATH into the build.
build --incompatible_strict_action_env

# To facilitate testing in bazelci incompatible flags
# @see https://github.com/bazelbuild/bazel/pull/26906#issue-3386957462
build --incompatible_autoload_externally=

# For bazel 8 BCR CI
build --incompatible_disable_native_repo_rules
