build --host_java_toolchain=@bazel_tools//tools/jdk:remote_jdk17
build --java_toolchain=@bazel_tools//tools/jdk:remote_jdk17
build --java_runtime_version=remotejdk_17
build --tool_java_runtime_version=remotejdk_17
build --tool_java_language_version=17
build --java_language_version=17
