// Copyright 2008 Google Inc. All Rights Reserved.
// Author: Kai Huang

{namespace boo.foo}


/**
 * Print information about cow and moose.
 */
{template .mooseTemplate}
  {@param cow: ?}  /** Don't have one. */
  {@param moose: ?}  /** The moose to print info about. */

  {for $moo in $moose}
    {if isFirst($moo)}
      {call .mooHelper_}
        {param moo : $moo /}
      {/call}
    {else}
      {call .mooHelper_}
        {param moo: $moo /}
      {/call}
    {/if}
  {/for}
  {msg desc="Tells what a moose says."}
    Moose <i>also</i> says {$moose[0]}.
  {/msg}{\n}

  {if $cow > length($moose)}
    {msg meaning="dromedary" desc="We really mean dromedary."}
      Camels
    {/msg}
    {msg meaning="camel" desc="Ok, we mean camel here."}
      Camels
    {/msg}
  {else}
    {msg desc="Our secret location." hidden="true"}
      Moscow
    {/msg}
  {/if}{\n}

  {sleepy.SHEEP}{\n}

{/template}


{template .mooHelper_ visibility="private"}
  {@param moo: ?}  /** One moo. */
  {msg desc="Tells what a cow says."}
    Cow says {$moo phex="MOOOooooOOOO"}.
  {/msg}{\n}
{/template}
