// Copyright 2008 Google Inc.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

{namespace boo.foo}


/**
 * Print information about cow and moose.
 */
{template mooseTemplate}
  {@param cow: ?}  /** Don't have one. */
  {@param moose: ?}  /** The moose to print info about. */

  {for $moo, $idx in $moose}
    {if $idx == 0}
      {call mooHelper_}
        {param moo : $moo /}
      {/call}
    {else}
      {call mooHelper_}
        {param moo: $moo /}
      {/call}
    {/if}
  {/for}
  {msg desc="Tells what a moose says."}
    Moose <i>also</i> says {$moose[0]}.
  {/msg}{\n}

  {if $cow > length($moose)}
    {msg meaning="dromedary" desc="We really mean dromedary."}
      Camels
    {/msg}
    {msg meaning="camel" desc="Ok, we mean camel here."}
      Camels
    {/msg}
  {else}
    {msg desc="Our secret location." hidden="true"}
      Moscow
    {/msg}
  {/if}{\n}

  {sleepy.SHEEP}{\n}

{/template}


{template mooHelper_ visibility="private"}
  {@param moo: ?}  /** One moo. */
  {msg desc="Tells what a cow says."}
    Cow says {$moo phex="MOOOooooOOOO"}.
  {/msg}{\n}
{/template}
