// Copyright 2015 Google Inc. All Rights Reserved.

{namespace strict_test}

/** hello html */
{template .helloHtml}
  {call .hello /}
{/template}

/** hello js */
{template .helloJs kind="js"}
  '{call .hello /}'
{/template}

/** hello */
{template .hello kind="text"}
Hello world
{/template}

/** a template with a param */
{template .withParam}
  {@param p : string}

  Hello, {$p}
{/template}

/** a template with a param */
{template .callsItself}
  {@param depth : int}
  {@param p : string}
  {if $depth == 0}
    {$p + 1}
  {else}
    {call .callsItself data="all"}
      {param depth : $depth - 1/}
    {/call}
  {/if}
{/template}
