// Copyright 2015 Google Inc.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

{namespace strict_test}

/** hello html */
{template helloHtml}
  {call hello /}
{/template}

/** hello js */
{template helloJs kind="js"}
  '{call hello /}'
{/template}

/** hello */
{template hello kind="text"}
  Hello world
{/template}

/** hello uri */
{template helloUri kind="uri"}
  https://helloworld.com
{/template}

/** hello trusted resource uri */
{template helloTrustedResourceUri kind="trusted_resource_uri"}
  /hello.world
{/template}

/** hello css */
{template helloCss kind="css"}
  {literal}.helloWorld {display: none}{/literal}
{/template}

/** hello attributes */
{template helloAttributes kind="attributes"}
  hello-world="true"
{/template}

/** a template with a param */
{template withParam}
  {@param p: string}

  Hello, {$p}
{/template}

{template withAsyncPluginCall}
  Hello, {testAsyncPlugin()}!
{/template}

/** a template with a param */
{template callsItself}
  {@param depth: int}
  {@param p: string}

  {if $depth == 0}
    {$p + 1}
  {else}
    {call callsItself data="all"}
      {param depth: $depth - 1 /}
    {/call}
  {/if}
{/template}

{template defaultParam}
  {@param p: int|null = 18}

  {$p}
{/template}
